section{
    background-color: aliceblue;
    padding: 1rem;
    max-width: 100% auto;
    border-radius: 1rem;
    box-shadow: 0.25rem 0.25rem 1rem;
}

section img{
    width: 100%;
    border-radius: 1rem;
}

#dining{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 1rem;
}

#other{
    grid-column: span 2;
}

@media screen and (max-width: 750px){
    #dining{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding: 1rem;
    }

    #other{
        grid-column: span 1;
    }
}