figure{
    background-color: rgb(218, 232, 250);
    padding: 2rem;
    border-radius: 1rem 3rem;
    border-left: 5px solid navy;
}

figure figcaption{
    font-weight: bold;
}

main p{
    text-align: center;
}